.ant-header {
  display: flex;
  align-items: center;
  background-color: #001529;
  padding: 20px;
}

.header-right {
  margin-left: auto;
  display: flex;
}

.divspan span {
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: white;
}

.button-container {
  margin-right: 10px; /* Espaçamento horizontal entre os botões */
}

/* Para evitar margem à direita no último botão */
.button-container:last-child {
  margin-right: 0;
}
